apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: flask-postgres-app
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/phantranthienan/flask-app-k8s-insa.git
    targetRevision: main
    path: k8s
  destination:
    server: https://kubernetes.default.svc
    namespace: default
  syncPolicy:
    automated:
      prune: true
      selfHeal: true