apiVersion: apps/v1
kind: Deployment
metadata:
  name: flask-app
spec:
  replicas: 4
  selector:
    matchLabels:
      app: flask
  template:
    metadata:
      labels:
        app: flask
    spec:
      hostAliases: # <-- Ton bypass DNS pour GitHub si besoin de fetch des libs
      - ip: "140.82.121.3"
        hostnames: ["github.com"]
      containers:
      - name: flask-app
        image: aabda2006/flask-app:latest # À remplacer après ton build
        imagePullPolicy: Always
        env:
        - name: DB_HOST
          value: "postgres-service"
        - name: DB_NAME
          valueFrom: { configMapKeyRef: { name: db-config, key: POSTGRES_DB } }
        - name: DB_USER
          valueFrom: { configMapKeyRef: { name: db-config, key: POSTGRES_USER } }
        - name: DB_PASSWORD
          valueFrom: { secretKeyRef: { name: db-secret, key: POSTGRES_PASSWORD } }
        ports:
        - containerPort: 5000
---
apiVersion: v1
kind: Service
metadata:
  name: flask-service
spec:
  selector:
    app: flask
  ports:
  - port: 80
    targetPort: 5000
